<div class="results-area">
  <div class="grid-table" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="columns"
       (cdkDropListDropped)="onDrop($event)" [style.gridTemplateColumns]="gridTemplateColumns">
    <div class="grid-column" *ngFor="let column of columns; trackBy: trackByColumn" cdkDrag
         [cdkDragData]="column" (cdkDragEntered)="onDragEntered($event)" (cdkDragExited)="onDragExited($event)">
      <div class="grid-column-header" (click)="onSort(column.field)">
        <span class="drag-handle" cdkDragHandle>☰</span>
        <ng-template cdkDragPreview>
          <div class="custom-drag-preview">{{ column.header }}</div>
        </ng-template>
        <ng-template cdkDragPlaceholder>
          <div class="custom-drag-placeholder">
            Dropping {{ column.header }} here
          </div>
        </ng-template>
        {{ column.header }}
      </div>
      <div class="grid-column-cell" *ngFor="let row of getPaginatedData(); trackBy: trackByID"
           (click)="onRowClick(row)"
           [innerHtml]="getCellValue(row, column) | safeHtml">
      </div>
    </div>
  </div>

  <div class="pagination">
    <select [(ngModel)]="pageSize" (change)="onPageSizeChange()">
      <option *ngFor="let size of pageSizeOptions" [value]="size">{{ size }}</option>
    </select>
    <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">&lt;</button>
    <span>{{ currentPage }} / {{ totalPages }}</span>
    <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages">&gt;</button>
  </div>
</div>