.orange-dialog .mat-mdc-dialog-surface {
    background-color: #ff9800 !important;
    color: #000 !important;
    padding: 20px;
    border-radius: 6px;
    max-width: 500px;
}

h2 {
    margin-top: 0;
}

.dialog-content {
    margin: 1rem 0;
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

button {
    min-width: 70px;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    
}

.button-yes {
    color: red;
}

.button-no {
    color: grey;
}