$primary-color: #3C4856;
$secondary-color: #386790;
$background-color: #F2FAFF;

$danger-color: #FF0000;
$neutral-color: #9FACBD;
$text-color: #333;

$save-button-bg: #005F55;

$default-button-bg: #386790;
$default-button-hover-bg: #2c5175;

$delete-button-bg: #d9534f;
$delete-button-hover-bg: #b52b27;

$wine: #A84147;