@use 'palette';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: palette.$background-color;
  padding: 10px 20px;

  .header {
    display: flex;
    align-items: center;
    gap: 10px;

    .icon {
      width: 70px;
      height: 70px;
    }

    /* Container for title and subtitle */
    .text-container {
      display: flex;
      flex-direction: column;

      .app-title {
        color: palette.$wine;
        margin: 0;
        /* optional, to remove extra spacing */
      }

      .subtitle {
        margin: 0;
        /* optional, to remove extra spacing */
      }
    }
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;

    li a {
      text-decoration: none;
      color: #333;
      font-weight: 500;
    }

    li a:hover {
      text-decoration: underline;
    }
  }

  .auth-buttons {
    button {
      margin-left: 10px;
      padding: 6px 12px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      color: #fff;
      background-color: #386790;
    }
  }
}