@use "sass:color";
@use '../palette';

.diocese-maintenance {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  h2 {
    color: palette.$primary-color;
    text-align: center;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;

    button {
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      color: white;
      background-color: palette.$save-button-bg;

      &:hover {
        background-color: color.adjust(palette.$neutral-color, $lightness: -10%, $space: hsl);
      }

      &:disabled {
        background-color: color.scale(palette.$neutral-color, $lightness: 80%);
        cursor: not-allowed;
        opacity: 0.6;
        &:hover {
          background-color: color.scale(palette.$neutral-color, $lightness: 80%);
        }
      }
    }
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    padding: 15px;
    background: palette.$background-color;
    border-radius: 8px;

    .section.filter {
      position: relative;
      border: 1px solid palette.$secondary-color;
      border-radius: 8px;
      padding: 10px;
      background: palette.$background-color;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &::before {
        content: attr(data-title);
        position: absolute;
        top: -10px;
        left: 10px;
        background: palette.$background-color;
        padding: 0 5px;
        color: palette.$primary-color;
        font-weight: bold;
        font-size: 0.9em;
      }

      .row-filter {
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
        align-items: flex-end;
      }

      .field-group {
        display: flex;
        flex-direction: column;
        gap: 3px;

        &.state {
          flex: 0 0 12%;
          max-width: 12%;
        }

        label {
          color: palette.$primary-color;
          font-weight: bold;
          margin-bottom: 0;
          font-size: 0.9em;
        }

        select {
          width: 100%;
          padding: 6px;
          border: 1px solid palette.$secondary-color;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 0.9em;
        }
      }
    }
  }
}