<div class="parish-maintenance">
  <h2>Parish Maintenance</h2>
  <div class="buttons">
    <button matTooltip="Add new parish" (click)="addParish()">Add</button>
  </div>

  <div class="form-container">
    <div class="section filter" data-title="Filter">
      <div class="row-filter">
        <div class="field-group state">
          <label for="stateFilter">State</label>
          <select id="stateFilter" name="stateFilter" [(ngModel)]="filterStateID" (change)="onFilterStateChange()">
            <option [value]="0">All States</option>
            <option *ngFor="let st of allStates" [value]="st.stateId">
              {{ st.stateAbbreviation }}
            </option>
          </select>
        </div>

        <div class="field-group diocese">
          <label for="dioceseFilter">Diocese</label>
          <select id="dioceseFilter" name="dioceseFilter" [(ngModel)]="filterDioceseID" (change)="onFilterDioceseChange()" [disabled]="dioceseDisabled">
            <option [value]="null">All Dioceses</option>
            <option *ngFor="let d of filteredDioceses" [value]="d.dioceseId">
              {{ d.dioceseName }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <app-data-table [data]="parishes" [columns]="columns" [clickable]="true" (rowClicked)="onRowClicked($event)"></app-data-table>
</div>