$primary-color: #386790;
$secondary-color: #6A8FB6;
$background-color: #EDF0F7;
$danger-color: #FF0000;
$neutral-color: #808080;
$text-color: #333;
$button-bg: #386790;
$button-hover-bg: #2c5175;
$delete-button-bg: #d9534f;
$delete-button-hover-bg: #b52b27;