@use 'palette';

.app-title {
  color: palette.$wine;
}

.header {
  display: flex;
  align-items: center;
  /* Aligns the icon and title vertically */
  justify-content: center;
  /* Centers the content horizontally */
  gap: 10px;
  /* Adds space between the icon and the title */
}

.icon {
  width: 70px;
  height: 70px;
}