<div class="diocese-list">
  <h2>Dioceses</h2>
  <h4>Select the filters and click the spy glass button.</h4>

  <div class="form-container">
    <!-- Filter Section -->
    <div class="section filter" data-title="Filter">
      <div class="row-1">
        <!-- State -->
        <div class="field-group state">
          <label>State</label>
          <select *ngIf="isArray(allStates)" [(ngModel)]="selectedStateID" (ngModelChange)="onStateChange()" [disabled]="allStates.length === 0">
            <option [ngValue]="0">All States</option>
            <option *ngFor="let st of allStates" [ngValue]="st.stateId">
              {{ st.stateAbbreviation }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <!-- Results area -->
  <div class="results-area">
    <app-data-table *ngIf="isArray(sortedDioceses)" [data]="sortedDioceses" [columns]="columns" [clickable]="false"></app-data-table>
  </div>
</div>