.snackbar-error {
    background-color: #d32f2f !important; // a red color
    color: #fff !important;
}

.snackbar-warning {
    background-color: #ffeb3b !important; // A bright Material yellow
    color: #333 !important;               // Dark text for contrast
  }
  